@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CloisterBlack';
  src: url('/fonts/CloisterBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'CloisterBlack';
}

body {
  @apply flex flex-col justify-center items-center min-h-screen gap-5 bg-[#eee] font-sans;
}

.sheet {
  position: relative;
  width: min(90vw, 970px);
  aspect-ratio: 210 / 297;
  background-image: url('/bg.png');
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  font-size: clamp(10px, 1.1vw, 16px);

}

.imgUpload {
    position: absolute;
    inset: 0;
    top: 13.5em;
    right: 52.3%;
    width: 60.6em;
    height: 59em;
    background-size: contain;
    background-position: 100% 0%;
    background-repeat: no-repeat;
}

.skills-column {
  position: absolute;
  top: 13.4%;
  left: 8.15%;
  width: 27.5%;
  border-radius: 12px;
}

.skill-row {
  position: relative;
  width: 90%;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #f0dbb1;
}

.trained {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-image: url('/teste.png');
  background-size: 100% 100%;
  background-position: center;
  border: none;
  cursor: pointer;
  margin-right: 0.4rem;
  flex-shrink: 0;
}

.trained:checked {
  background-image: url('/Survival.png');
}

.skill-name {
  flex: 1;
  font-size: 1em;
  color: #2d1a0b;
  user-select: none;
}

.masked-image {
  -webkit-mask-image: url('/masks/personagem-1.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  -webkit-mask-composite: destination-in;

  mask-image: url('/masks/personagem-1.png');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  mask-composite: intersect;
}

.no-mask .masked-image {
  -webkit-mask-image: none;
  mask-image: none;
}

select.atr {
  width: 24%;
  height: 1rem;
  font-size: 0.7em;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-left: 3%;
}

input.value {
  width: 15%;
  height: 100%;
  text-align: center;
  font-size: 0.8em;
  border: 1px solid #000000;
  border-radius: 4px;
  background: transparent;
  margin-left: 3%;
}

.attr {
  position: absolute;
  width: 10%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attr input {
  width: 70%;
  height: 70%;
  text-align: center;
  font-size: 3em;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.attr.destreza {
  top: 11.6%;
  right: 24.5%;
}

.attr.forca {
  top: 14.3%;
  right: 11.3%;
}

.attr.constituicao {
  top: 13.6%;
  right: 38%;
}

.attr.inteligencia {
  top: 20%;
  right: 48.5%;
}

.attr.sabedoria {
  top: 29%;
  right: 53%;
}

.attr.carisma {
  top: 38.7%;
  right: 51%;
}

.level {
  position: absolute;
  top: 3.5%;
  right: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.level input {
  width: 10%;
  height: 10%;
  text-align: center;
  font-size: 2em;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}